GIT_USERNAME=<GIT_USERNAME>
GIT_PASSWORD=<PAT>
GIT_REPO=<GIT_REPO>
AGORA_APP_ID=<AGORA_APP_ID>
AGORA_APP_CERTIFICATE=<AGORA_APP_CERTIFICATE>
AGORA_TOKEN_EXPIRATION_SECONDS=3600

PAYPAL_CLIENT_ID=<PAYPAL_CLIENT_ID>
PAYPAL_CLIENT_SECRET=<PAYPAL_CLIENT_SECRET>
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
APPOINTMENT_DEFAULT_CONSULTATION_FEE=50.00
APPOINTMENT_DEFAULT_CURRENCY=USD
